---
import { Schema } from 'astro-seo-schema';

interface Props {
    title: string;
    description: string;
    page: string;
}
const {title, description } = Astro.props;
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--  <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <base href="https://ilfisioadomicilio.it">-->

    <title>{title}</title>
    <meta name="description" content={description}>
    <!-- icon -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Fisio" />
    <link rel="manifest" href="/site.webmanifest" />
    
    <link rel="stylesheet" href="/styles/global.css"/>    
    <link rel="canonical" href="http://ilfisioadomicilio.it/" />
    <Schema 
        item={{
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://www.ilfisioadomicilio.it",
            "sameAs": ["https://example.net/profile/example1234", "https://example.org/example1234"],
            "logo": "https://www.example.com/images/logo.png",
            "name": "ilfisioadomicilio",
            "description": "Emanuele Monea è un fisioterapista che offre servizi di riabilitazione a domicilio",
            "email": "info@emanuelemonea.it",
            "telephone": "+393395721209",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Bareggio",
                "addressCountry": "IT",
                "addressRegion": "Lombardia",
                "postalCode": "20008"
            },
            "vatID": "FR12345678901",
        }}    
    />

</head>