---
interface Props {
    title: string;
    description: string;
    page: string;
}
const {title, description, page } = Astro.props;
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://submit-form.com https://cdn.iubenda.com https://embeds.iubenda.com 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; connect-src 'self' https://submit-form.com https://*.iubenda.com https://*.matomo.cloud; frame-src https://www.iubenda.com; font-src 'self';">
    
    <title>{title}</title>
    <meta name="description" content={description}>
    <!-- icon -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Fisio" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" href="/styles/global.css"/>    
    <link rel="canonical" href=`https://ilfisioadomicilio.it/${page}` />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <slot></slot>
    
    <script type="text/javascript" src="https://embeds.iubenda.com/widgets/2b0427ed-ec47-411f-973d-359b347e255d.js"></script>
</head>